In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from path import Path
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [2]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder,OneHotEncoder 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
# Load data
file_path=Path("chocolate_version1.csv")
chocolate_df = pd.read_csv(file_path)

chocolate_df.head()

,Unnamed: 0,company_location,country_of_bean_origin,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,0,U.S.A,Madagascar,76.0,4.0,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
1,1,U.S.A,Dominican republic,76.0,4.0,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
2,2,U.S.A,Tanzania,76.0,3.0,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
3,3,France,Peru,63.0,4.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
4,4,France,Bolivia,70.0,4.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar

In [4]:
chocolate_df = chocolate_df.drop("Unnamed: 0", axis =1)

In [5]:
chocolate_df.head(10)

,company_location,country_of_bean_origin,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,U.S.A,Madagascar,76.0,4.0,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
1,U.S.A,Dominican republic,76.0,4.0,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
2,U.S.A,Tanzania,76.0,3.0,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
3,France,Peru,63.0,4.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
4,France,Bolivia,70.0,4.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
5,France,Venezuela,70.0,4.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
6,France,Peru,63.0,4.0,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
7,France,Ecuador,70.0,4.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
8,France,Peru,70.0,4.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
9,France,Brazil,70.0,3.0,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar

In [6]:
column =['cocoa_butter', 'vanilla', 'lecithin', 'salt', 'sugar','sweetener_without_sugar']
for c in column:
    chocolate_df[c] = chocolate_df[c].apply(lambda x: 0 if 'not' in x else 1)

In [7]:
chocolate_df

,company_location,country_of_bean_origin,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,U.S.A,Madagascar,76.0,4.0,3,1,0,0,0,1,0
1,U.S.A,Dominican republic,76.0,4.0,3,1,0,0,0,1,0
2,U.S.A,Tanzania,76.0,3.0,3,1,0,0,0,1,0
3,France,Peru,63.0,4.0,4,1,0,1,0,1,0
4,France,Bolivia,70.0,4.0,4,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
2219,Austria,Blend,80.0,3.0,4,1,0,0,1,0,1
2220,Austria,Colombia,75.0,4.0,3,1,0,0,0,1,0
2221,Austria,Belize,72.0,4.0,3,1,0,0,0,1,0
2222,Austria,Congo,70.0,3.0,3,1,0,0,0,1,0
2223,Austria,Blend,75.0,3.0,3,1,0,0,0,1,0

In [8]:
chocolate_df.to_csv('coded.csv')

In [9]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Chocolate"
engine = create_engine(db_string)
chocolate_df.to_sql(name='chocolate', con=engine, if_exists='replace')

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table chocolate because other objects depend on it
DETAIL:  constraint tastes_chocolate_id_fkey on table tastes depends on table chocolate
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL:
DROP TABLE chocolate]
(Background on this error at: https://sqlalche.me/e/14/2j85)