In [1]:
import pandas as pd

In [2]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [3]:
df = pd.read_csv("chocolate.csv")

In [4]:
df

,Index,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,88,75,Amedei,Italy,2006,Blend,Toscano Black,66.0,3.75,4,...,have_cocoa_butter,have_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,red wine,rich cocoa,long,NaN
1,274,48,Bonnat,France,2006,Venezuela,"Maracaibo, El Rosario",75.0,4.00,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,creamy,fatty,floral,NaN
2,275,81,Bonnat,France,2006,Venezuela,Chuao,75.0,4.00,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,creamy,coconut,tang,NaN
3,276,24,Bonnat,France,2006,Blend,"Carribean, Trinite",75.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,spice,woodsy,long lasting,NaN
4,277,32,Bonnat,France,2006,Venezuela,"Ocumare, Puerto Cabello",75.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,sandy,creamy,berry,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219,1983,2474,Sweetness,Canada,2020,Mexico,Tabasco,74.0,3.00,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,dried fig,earthy,dirty,NaN
2220,2077,2470,Tribe,Canada,2020,Peru,Ucayali,70.0,3.00,2,...,have_not_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,very sandy,spicey,sweet,NaN
2221,2078,2490,Tribe,Canada,2020,Vietnam,"Dak Lak, batch 0A08",70.0,2.75,2,...,have_not_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,tart,sweet,sour,savory
2222,2079,2490,Tribe,Canada,2020,Honduras,"Copan, batch 0A03",70.0,2.75,2,...,have_not_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,woody,sweet,unrefined,NaN
2223,2098,2478,Vaka,Canada,2020,Belize,"Maya Mountain, Toledo, batch 91",74.0,3.50,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,roasted strawberry,bold,NaN,NaN

In [5]:
df.columns

Index(['Index', 'ref', 'company', 'company_location', 'review_date',
       'country_of_bean_origin', 'specific_bean_origin_or_bar_name',
       'cocoa_percent', 'rating', 'counts_of_ingredients', 'beans',
       'cocoa_butter', 'vanilla', 'lecithin', 'salt', 'sugar',
       'sweetener_without_sugar', 'first_taste', 'second_taste', 'third_taste',
       'fourth_taste'],
      dtype='object')

In [6]:
# make df for all words with Index
txt_df = pd.DataFrame(columns=['Index', 'Taste'])

In [7]:
txt_df

Empty DataFrame
Columns: [Index, Taste]
Index: []

In [8]:
first_df = df.loc[df.first_taste.isnull()==False, ['Index','first_taste']]

In [9]:
sec_df = df.loc[df.second_taste.isnull()==False, ['Index','second_taste']]

In [10]:
third_df = df.loc[df.third_taste.isnull()==False, ['Index','third_taste']]

In [11]:
forth_df = df.loc[df.fourth_taste.isnull()==False, ['Index','fourth_taste']]

In [12]:
txt_df = pd.concat([first_df.rename(columns={'first_taste':'Taste'}), sec_df.rename(columns={'second_taste':'Taste'}), third_df.rename(columns={'third_taste':'Taste'}), forth_df.rename(columns={'fourth_taste':'Taste'})], ignore_index=True)

In [13]:
txt_df

      Index     Taste
0        88  red wine
1       274    creamy
2       275    creamy
3       276     spice
4       277     sandy
...     ...       ...
6212   1433     fatty
6213   1453      sour
6214   1508   rubbery
6215   1628      rich
6216   2078    savory

[6217 rows x 2 columns]

In [14]:
txt_df.columns

Index(['Index', 'Taste'], dtype='object')

In [96]:
words_df = pd.DataFrame()
i=0
for index, row in txt_df.iterrows():
    words = row.Taste.split(" ")
    ind = row.Index
    for word in words:
        df2=pd.DataFrame({'Index': ind,'Word': word}, index=[i])        
        words_df = pd.concat([words_df, df2], ignore_index=True, axis =0)
#        words_df.append({'Index': ind,'Word': word},ignore_index = True)
#        words_df.append(row_dict, ignore_index=True)
#    break
#        words_df.append({'Index': ind,'Word': word}, ignore_index = True)

In [97]:
words_df

      Index     Word
0        88      red
1        88     wine
2       274   creamy
3       275   creamy
4       276    spice
...     ...      ...
7528   1433    fatty
7529   1453     sour
7530   1508  rubbery
7531   1628     rich
7532   2078   savory

[7533 rows x 2 columns]

In [98]:
tastes_df = pd.DataFrame(words_df.groupby('Word').size(), columns=['Count'])

In [99]:
tastes_df

         Count
Word
&            4
Andes        1
Burnt        4
Cadbury      1
Easter       1
...        ...
woodsy       9
woody       85
wtf          1
yellow       1
yogurt       4

[513 rows x 1 columns]

In [101]:
top_words = pd.DataFrame(tastes_df.sort_values(by='Count', ascending =False))

In [103]:
top_words.sort_values('Count', ascending=False)

           Count
Word
cocoa        338
sweet        274
nutty        253
fruit        228
roasty       207
...          ...
watery         1
super          1
accesible      1
watering       1
ligt           1

[513 rows x 1 columns]

In [104]:
top_words.to_csv("top_words.csv")